{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}
    <h1>Edit Classe</h1>
                 {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.enseignant) }}
                    {{form_row(form.image,{ 'attr': {'onchange': 'file_changed()'} } )}}
            
                    <img id="img" src="{{ asset('img/course/small/'~ classe.image) }}" alt="course" class="card-img card-img-horizontal-lg sh-18 sw-lg-16 h-lg-100">

                        
                    {{ form_row(form.cours) }}
                {{ include('classe/_form.html.twig', {'button_label': 'Update'}) }}
        
                {{ form_end(form) }}

<script>

function file_changed(){
    var selectedFile = document.getElementById('classe_image').files[0];
  var img = document.getElementById('img')

  var reader = new FileReader();
  reader.onload = function(){
  img.src = this.result}
  reader.readAsDataURL(selectedFile);
 }

</script>
     
    
{% endblock %}